.outermost {
    width: 1519.2px;
    height: 625.6px;
    margin: 0 auto;  
    display: flex;
    flex-direction: row;
}

/* .business-body {
    width: 1480px;
    height: 625.6px;
    margin: 0 auto;
    border-color: rgba(235, 235, 235, 1);
}

.business-body3 {
    width: 1448px;
    height: 625.6px;
    margin: 0 -16px;
    display: flex;
    border-color: rgba(235, 235, 235, 1);
    flex-direction: row;
} */

.business-left {
    /* background-image: url("/src/components/BusinessFormPage/white_square.png"); */
    background-repeat: repeat;
    width: 660px;
    height: 625.6px;
    margin: 0 16px;
    /* flex: 1; */
    /* box-sizing: border-box; */
    border-color: rgba(235, 235, 235, 1);
}

.hello {
    width: 660px;
    height: 36px;
    margin-top: 16px;
    border-color: rgba(235, 235, 235, 1);
    text-size-adjust: 100%;
}

.business-h1 {
    height: 36px;
    font-family: 'Helvetica';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 36px;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    color: rgba(45, 46, 47, 1);
    box-sizing: content-box;
}

.business-right {
    width: 724px;
    height: 625.6px;
    /* border-collapse: collapse; */
    border-spacing: 0;
    margin-left: 16px;
    margin-right: 16px;
}